.hyper{
    text-decoration: none;
    color: #000;
    position: relative;
  
}
.hyper::before{
    display: block;
    content: '';
    height: 2px;
    position:absolute;
    width: 100%;
    transition: height 0.1s;
    background-color: var(--special);
    z-index: -1;
    bottom: 0;
}

.hyper:hover::before{
    height: 100%;
}
.hyper.userIcon{
    margin: 0 10px;
}