@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --special: #a3c2ff;
  --font-color: #444040;

  min-width: 350px;
  overflow: hidden;
}
*::selection{
  background: #efefef;
  color: #000;
  border: 2px solid #000;
}
input, button, textarea, label, select, option{
  font-family: 'Rubik', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--special);
}
